/* Common css for all pages */

body {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
  padding-top: 56px;
}

@media only screen and (max-width: 600px) {
  .navbar form {
      width: 100%;
  }
}

.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}