{% extends 'common.html.twig' %}

{% block content %}

<div class="container mt-5 text-center">
    <h2 class="bg-success p-2"> Grazie di averci scelto! Il tuo ordine verr&agrave; spedito a breve</h2>
    <a href="/" class="btn btn-primary">Torna alla homepage</a>
</div>

{% endblock content %}
    