<div class="modal fade" id="cartModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <p class="modal-title fs-5" id="cartModalLabel">Il tuo carrello</p>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="products-list" class="modal-body">
          
          <!--Start product in cart-->
          <!--From JS previewCart.js-->
          <!--End product in cart-->
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Esci</button>
          <a href="/checkout" class="btn btn-primary">Vai al checkout</a>
        </div>
      </div>
    </div>
  </div>